<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW2-Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE3368361EA5C44D0032EDC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE33684A1EA5C44E0032EDC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3368551EA5C44E0032EDC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
