<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPageBaseApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE892C291ED51C6A00263036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE892C411ED51C6A00263036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE892C4C1ED51C6A00263036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
